.intro {
  min-height: 25vh;
  padding: 1rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../../images/sound_wave-min.png");
  background-repeat: repeat;
  background-position: left center;
  border-radius: 0;
  text-align: center;

  h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  h2 {
    color: #cccccc;
    font-weight: 300;
    margin-bottom: 0;
  }

  @media (max-width: 576px) {
    h2 {
      font-size: 1.5rem;
    }
  }
}
